
*{
	padding: 0;
	margin: 0;
}

h1{
	text-align: center;
	font-size: 52px;
	font-family: sans-serif;
	padding: 15px;
	color: black;
	padding-top: 90px;

}

.nav{
	display: block;
	position: fixed;
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
	width: 100%;
	height: 85px;
	background-color: white;
	z-index: 1000;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
	border-bottom: 1px solid #3e3e3e;
}

nav{
	margin-top: 35px;

}

a{
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
}

.logo{
	width: 100%;
	height: 85px;
}

.logo img{
	height: 60px;
	width: 150px;
	float: left;
	margin-left: 2px;
}

.container {
	width: 100%; 
	margin-right: auto;
	margin-left: auto;
}

.border{
	width: 50px;
	height: 3px; 
	margin-right: auto;
	margin-left: auto;
	border-top: 3px solid #00AD9F;

}

.five {
	width: 35.6%; 
	height:330px;
	margin-left: 1.5%;
	float:left;
	margin-top: 1%;
	background-color: green;
}

.three {
	width: 23.2%;
	height:330px;
	float:left;
	margin-left: 1.5%;
	margin-top: 1%;
	background-color: yellow;
}

.footer{
	width: 100%;
	height: 275px;
	float: left;
	margin-top: 1%;
	background-color: #f1f1f1;
}

.con{
	width: 80%;
	height: 200px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}

.footer img{
	border-radius: 100%;
	width: 125px;
	height: 125px;
}

p{
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;

}

